body{
    background-color: bisque ;
    color: rgb(52, 199, 199) ;
    font-size: 20px;
}
.ss{
    text-align: center;
}
.S{
    
    width: 350px;
    height: 300px;
    border: 2.5px black solid ;

}